<form action="/unit_list/create_unit" method="post">
    <label for="name">Name:</label>
    <input type="name" name="name" required><br><br>
    <label for="pilots">Pilots:</label>
    <input type="pilots" name="pilots" required><br><br>
    <label for="type">Type:</label>
    <input type="type" name="type" required><br><br>
    <label for="attacks">Number of Attacks:</label>
    <input type="attacks" id="attacks" name="attacks" required><br><br>
    <label for="HP">HP:</label>
    <input type="HP" name="HP" required><br><br>
    <input type="submit" name="submit_button" value="Submit"><br><br>
</form>