<form action="/" method="get">
    <label for="teamname">Find Team:</label>
    <input type="text" name="teamname">&nbsp;
    <input type="submit" name="submit_button" value="Submit"><br><br>
</form>
<h2>Teams:</h2>
<table>
    {{#each teams}}
        <tr>
            <td><a id="team{{name}}" href="/unit_list?name={{name}}">{{name}}</a></td>
        </tr>
    {{/each}}
</table>